.user-list {
    text-align: center;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.user-list h2 {
    margin: 0;
}
